version: "3"
services:
  noj-rsync-master:
    image: njuptaaa/rsync
    container_name: noj-rsync
    volumes:
      - $PWD/storage/test_case:/test_case
      - $PWD/storage/logs:/log
    environment:
      - RSYNC_MODE=master
      - RSYNC_USER=ojrsync
      - RSYNC_PASSWORD=CHANGE_THIS_PASSWORD
    ports:
      - "0.0.0.0:873:873"